@page "/dashboard"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Dashboard - Trade Alliance Group</PageTitle>

<div class="container-fluid page-container-section mb-4">
    <div class="row mb-4">
        <div class="col-md-12">
            <h1 class="page-title">Dashboard</h1>
        </div>
    </div>
</div>
